.page-accueil {
    height: 100vh;
}

.logo-app {
    min-width: 6em;
    max-width: 10em;
}

.logo-account {
    min-width: 4em;
    max-width: 6em;
}

.toggle-menu {
    width: 2em;
}

.bouton-connect {
    background-attachment: local;
    background-color: #acdaff;
    margin-bottom: 3em;
    font-size: 5em;
}

.border-green {
    border-style: solid;
    border-color: green;
}

.border-red {
    border-style: solid;
    border-color: red;
}

.element-app {
    width: 100px;
    height: 100px;
}